.nutrition {
  padding: var(--space-big-xl);

  .text-subtitle {
    padding-bottom: var(--space-lg);
  }

  .text-body {
    padding-bottom: var(--space-lg);
  }

  .content {
    .row {
      display: flex;
      border-bottom: 1px solid #80808082;
      margin-bottom: var(--space-lg);

      .left {
        width: 50%;
        padding-left: var(--space-big-xl);
      }

      .right {
        width: 50%;
        font-weight: bold;
        color: var(--color-rose);
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 0; // optional
      }
    }
  }
}

@media (min-width: 768px) {
  .nutrition {
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
    background: white;
  }
}