.nutrition {
  padding: 50px;

  .text-subtitle {
    padding-bottom: 20px;
  }
  
  .content {
    .row {
      display: flex;
      .left {
        width: 50%;
      }
      .right {
        width: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .nutrition {
    border-radius: 0 0 20px 20px;
    background: white;

  }
}