.hero {
  .image-omelette {
    width: 100%;
  }
  .content {
    padding: var(--space-big-xl);
    .text-title {
      font-size: var(--size-big-m);
      padding-bottom: var(--space-big-m);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    background: white;
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    padding: 50px 50px 0;

    .image-omelette {
      width: 100%;
      border-radius: var(--radius-lg);
    }

    .content {
      padding: var(--space-big-xl) 0;
      .text-title {
        font-size: 50px;
      }
    }
  }
}