.hero {
  .image-omelette {
    width: 100%;
  }
  .content {
    padding: 30px;
    .text-title {
      font-size: 34px;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    background: white;
    border-radius: 20px 20px 0 0;
    padding: 50px;

    .image-omelette {
      width: 100%;
      border-radius: 10px;
    }

    .content {
      padding: 0;
      padding-top: 20px;
      .text-title {
        font-size: 50px;
      }
    }
  }
}