.ingredients {
  padding: var(--space-big-xl);

  .text-subtitle {
    padding-bottom: var(--space-lg);
  }
  .content {
    padding-left: var(--space-lg);
    padding-bottom: var(--space-big-xl);

    .item {
      padding-bottom: var(--space-lg);
      padding-left: var(--space-lg);
    }
  }

  .divider {
    border-bottom: 1px solid #80808082;
  }
}

@media (min-width: 768px) {
  .ingredients {
    background: white;
  }
}