.preparation {
  margin: 0 var(--space-big-m);
  background-color: var(--background-preparation);
  border-radius: var(--space-lg);

  .box {
    padding: var(--space-big-m);
  }

  .text-subtitle {
    &.prep-title {
      //color: var(--color-rose);
      color: #683048;
      font-weight: 600;
      padding-bottom: var(--space-lg);
      font-size: var(--size-x-large);
      font-family: var(--font-outfit);
    }
  }

  .content {
    padding-left: var(--space-xl);
    
    .item {
      padding-bottom: var(--space-lg);
      padding-left: var(--space-lg);
      line-height: 30px;
    }
  }
}

@media (min-width: 768px) {
  .preparation {
    background: white;
    margin: 0;
    padding: 0 var(--space-big-xl);
    border-radius: 0;

    .box {
      background-color: var(--background-preparation);
      border-radius: var(--radius-xl);
    }
  }
}