.preparation {
  padding: 30px;
  background-color: var(--background-preparation);
  border-radius: 20px;
  .text-subtitle {
    &.prep-title {
      color: var(--color-rose);
      font-weight: 400;
      padding-bottom: 20px;
    }
  }

  .content {
    padding-left: 40px;
    
    .item {
      padding-bottom: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: 768px) {
  .preparation {
    background: white;
  }
}