.preparation {
  margin: 30px;
  background-color: var(--background-preparation);
  border-radius: 20px;

  .box {
    padding: 30px;
  }

  .text-subtitle {
    &.prep-title {
      color: var(--color-rose);
      font-weight: 400;
      padding-bottom: 20px;
    }
  }

  .content {
    padding-left: 40px;
    
    .item {
      padding-bottom: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: 768px) {
  .preparation {
    background: white;
    margin: 0;
    padding: 30px;
    border-radius: 0;

    .box {
      background-color: var(--background-preparation);
      border-radius: 20px;
    }
  }
}