.instructions {
  padding: 0 var(--space-big-xl);

  .text-subtitle {
    padding-bottom: var(--space-lg);
  }

  .item {
    display: flex;
    gap: var(--space-lg);
    padding-bottom: var(--space-md);
    padding-left: var(--space-sm);
  }

  .divider {
    border-bottom: 1px solid #80808082;
    padding-top: var(--space-big-xl);
  }
}

@media (min-width: 768px) {
  .instructions {
    background: white;
    .content {
      padding-left: 50px;
    }
  }
}