.instructions {
  padding: 40px;

  .text-subtitle {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .instructions {
    background: white;
    .content {
      padding-left: 50px;

      .item {
        // font-size: 20px;
      }
    }
  }
}