.app {
  height: 100vh;
  width: 100vw;
  background-color: #D5E1EF;
  font-family: var(--font-family);
  
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: var(--size-x-large);
    color: blue;
  }
}