:root {
  /* Font */
  --font-outfit: 'Outfit', sans-serif;
  --font-young-serif: 'Young Serif', serif;

  /* Font weights */
  --font-regular: 400;
  --font-bold: 700;

  /* Font sizes */
  --size-big-xxl: 50px;
  --size-big-xl: 40px;
  --size-big-m: 30px;

  --size-xx-large: 28px;
  --size-x-large: 24px;
  --size-large: 20px;
  --size-medium: 16px;
  --size-small: 12px;
  --size-x-small: 8px;
  --size-xx-small: 4px;

  /* Colors */
  --background-page: #F4E4D9;
  --background-preparation: #FFF7FC;

  --color-white: white;
  --color-black: black;
  --color-rose: #69334B;
  --color-grey: #606060;
  --color-brown: #834731;

  /* Spacing scale */
  --space-big-xl: 40px;
  --space-big-m: 30px;

  --space-xxl: 32px;
  --space-xl: 24px;
  --space-lg: 20px;
  --space-md: 16px;
  --space-sm: 12px;
  --space-xs: 8px;
  --space-xxs: 4px;
  --space-2: 2px;
  --space-1: 1px;

  /* Border radius scale */
  --radius-xl: 20px;
  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --radius-round: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-outfit);
}

.text-title {
  font-size: var(--size-big-xxl);
  color: var(--color-black);
  font-family: var(--font-young-serif);
  line-height: 50px;
}

.text-subtitle {
  font-size: var(--size-big-m);
  color: var(--color-brown);
  font-family: var(--font-young-serif);
}

.text-body {
  font-size: var(--size-large);
  color: var(--color-grey);
}

@media (min-width: 768px) {
  body {
    background: #F3E5D8;
  }
}