:root {
  /* Font */
  --font-family: 'Outfit', sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  /* Font sizes */
  --size-x-large: 70px;
  //--size-large: 20px;
  --size-medium: 40px;
  --size-small: 20px;
  //--size-x-small: 8px;

  /* Colors */
  --background-page: #F4E4D9;
  --background-preparation: #FFF7FC;

  --color-white: white;
  --color-black: black;
  --color-rose: #69334B;
  --color-grey: #606060;
  --color-brown: #834731;

  /* Spacing scale */
  //--space-large: 20px;
  //--space-medium: 16px;
  //--space-small: 12px;

  /* Border radius scale */
  //--radius-large: 12px;
  //--radius-medium: 8px;
  //--radius-small: 4px;

  /* Component-specific */
  //--card-max-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-large {
  font-size: var(--size-x-large);
  color: var(--color-black);
}

.text-medium {
  font-size: var(--size-medium);
  color: var(--color-brown);
}

.text-small {
  font-size: var(--size-small);
  color: var(--color-grey);
}

.preparation-box {}